body {
/*    background-color: black;
    background-image: url('imagens/wallpaper002.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;*/

    /* shorthand - background
    color > image > position > repeat > (size) > attachment
    */
   
    background: black url('imagens/wallpaper002.jpg') center center no-repeat fixed;
    background-size: cover;
}






main {
    width: 400px;
    padding: 10px;
    margin: auto;
    background-color: white;
    border: 1px solid darkblue;
    border-radius: 15px;
}